[Unit]
Description=Advanced key-value store for %i
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/usr/bin/redis-server /etc/redis/redis_%i.conf
ExecStop=/usr/bin/redis-cli shutdown
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
